<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mozi.stock.mapper.StockBlockRtInfoMapper">

    <resultMap id="BaseResultMap" type="com.mozi.stock.entity.StockBlockRtInfo">
            <id property="id" column="id" />
            <result property="label" column="label" />
            <result property="blockName" column="block_name" />
            <result property="companyNum" column="company_num" />
            <result property="avgPrice" column="avg_price" />
            <result property="updownRate" column="updown_rate" />
            <result property="tradeAmount" column="trade_amount" />
            <result property="tradeVolume" column="trade_volume" />
            <result property="curTime" column="cur_time" />
    </resultMap>

    <sql id="Base_Column_List">
        id,label,block_name,company_num,avg_price,updown_rate,
        trade_amount,trade_volume,cur_time
    </sql>
</mapper>
