<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mozi.stock.mapper.SysLogMapper">

    <resultMap id="BaseResultMap" type="com.mozi.stock.entity.SysLog">
            <id property="id" column="id" />
            <result property="userId" column="user_id" />
            <result property="username" column="username" />
            <result property="operation" column="operation" />
            <result property="time" column="time" />
            <result property="method" column="method" />
            <result property="params" column="params" />
            <result property="ip" column="ip" />
            <result property="createTime" column="create_time" />
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,username,operation,time,method,
        params,ip,create_time
    </sql>
</mapper>
