<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mozi.stock.mapper.SysPermissionMapper">

    <resultMap id="BaseResultMap" type="com.mozi.stock.entity.SysPermission">
            <id property="id" column="id" />
            <result property="code" column="code" />
            <result property="title" column="title" />
            <result property="icon" column="icon" />
            <result property="perms" column="perms" />
            <result property="url" column="url" />
            <result property="method" column="method" />
            <result property="name" column="name" />
            <result property="pid" column="pid" />
            <result property="orderNum" column="order_num" />
            <result property="type" column="type" />
            <result property="status" column="status" />
            <result property="createTime" column="create_time" />
            <result property="updateTime" column="update_time" />
            <result property="deleted" column="deleted" />
    </resultMap>

    <sql id="Base_Column_List">
        id,code,title,icon,perms,url,
        method,name,pid,order_num,type,
        status,create_time,update_time,deleted
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from sys_permission
        where  id = #{id} 
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from sys_permission
        where  id = #{id} 
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.mozi.stock.entity.SysPermission" useGeneratedKeys="true">
        insert into sys_permission
        ( id,code,title,icon,perms,url,
        method,name,pid,order_num,type,
        status,create_time,update_time,deleted)
        values (#{id},#{code},#{title},#{icon},#{perms},#{url},
        #{method},#{name},#{pid},#{orderNum},#{type},
        #{status},#{createTime},#{updateTime},#{deleted})
    </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.mozi.stock.entity.SysPermission" useGeneratedKeys="true">
        insert into sys_permission
        <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="id != null">id,</if>
                <if test="code != null">code,</if>
                <if test="title != null">title,</if>
                <if test="icon != null">icon,</if>
                <if test="perms != null">perms,</if>
                <if test="url != null">url,</if>
                <if test="method != null">method,</if>
                <if test="name != null">name,</if>
                <if test="pid != null">pid,</if>
                <if test="orderNum != null">order_num,</if>
                <if test="type != null">type,</if>
                <if test="status != null">status,</if>
                <if test="createTime != null">create_time,</if>
                <if test="updateTime != null">update_time,</if>
                <if test="deleted != null">deleted,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="id != null">#{id},</if>
                <if test="code != null">#{code},</if>
                <if test="title != null">#{title},</if>
                <if test="icon != null">#{icon},</if>
                <if test="perms != null">#{perms},</if>
                <if test="url != null">#{url},</if>
                <if test="method != null">#{method},</if>
                <if test="name != null">#{name},</if>
                <if test="pid != null">#{pid},</if>
                <if test="orderNum != null">#{orderNum},</if>
                <if test="type != null">#{type},</if>
                <if test="status != null">#{status},</if>
                <if test="createTime != null">#{createTime},</if>
                <if test="updateTime != null">#{updateTime},</if>
                <if test="deleted != null">#{deleted},</if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.mozi.stock.entity.SysPermission">
        update sys_permission
        <set>
                <if test="code != null">
                    code = #{code},
                </if>
                <if test="title != null">
                    title = #{title},
                </if>
                <if test="icon != null">
                    icon = #{icon},
                </if>
                <if test="perms != null">
                    perms = #{perms},
                </if>
                <if test="url != null">
                    url = #{url},
                </if>
                <if test="method != null">
                    method = #{method},
                </if>
                <if test="name != null">
                    name = #{name},
                </if>
                <if test="pid != null">
                    pid = #{pid},
                </if>
                <if test="orderNum != null">
                    order_num = #{orderNum},
                </if>
                <if test="type != null">
                    type = #{type},
                </if>
                <if test="status != null">
                    status = #{status},
                </if>
                <if test="createTime != null">
                    create_time = #{createTime},
                </if>
                <if test="updateTime != null">
                    update_time = #{updateTime},
                </if>
                <if test="deleted != null">
                    deleted = #{deleted},
                </if>
        </set>
        where   id = #{id} 
    </update>
    <update id="updateByPrimaryKey" parameterType="com.mozi.stock.entity.SysPermission">
        update sys_permission
        set 
            code =  #{code},
            title =  #{title},
            icon =  #{icon},
            perms =  #{perms},
            url =  #{url},
            method =  #{method},
            name =  #{name},
            pid =  #{pid},
            order_num =  #{orderNum},
            type =  #{type},
            status =  #{status},
            create_time =  #{createTime},
            update_time =  #{updateTime},
            deleted =  #{deleted}
        where   id = #{id} 
    </update>
</mapper>
